
<div class="btn-group mb-3" role="group" aria-label="Default button group">
   <!-- this used to be how to do avoir direcly from the bon -->
    <!-- <a type="button" class="btn btn-primary" href="/sales/avoirclient/{{bon.id}}">
        Avoir
    </a> -->
    {% if avoir %}
    <a href="/product/printavoirclient/{{bon.id}}" type="button" class="btn btn-primary">
        Bon
    </a>
    {% else %}

    <a href="{% if bon.customer %}/sales/update/{{bon.id}}/api/{% else %}/product/modifierboncomptoir/{{bon.id}}{% endif%}" type="button" class="btn btn-primary me-5">
        Modifier
    </a>
    <button type="button" class="btn btn-primary" onclick="printbon({{bon.id}})">
        Bon
    </button>
    <button onclick="printfacture({{bon.id}})" type="button" class="btn btn-primary">
        Factuer
    </button>
    {% endif %}
  </div>
<div class="bg-white rounded shadow" id="print-invoice" style="padding: 10px">
    <div class="row">
        <div class="d-flex justify-content-between head align-itmes-center">
            <div>


                <strong class="f-size">Client: {% if bon.customer %}{{ bon.customer.customer_name }}{% else %}Comptoir {% endif%} </strong>
            </div>
            <div>
                <strong>
                        {{bon.receipt_no}}
                </strong>
            </div>
            <h6 style="font-size:14px">{{ bon.datebon|date:"d/m/Y"}}</h6>

        </div>
        <div class="col-xs-12 col-md-12">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="col-md-12 ">

                </div>
                    <!-- {% if bon.customer.shop %}
                        <label><strong class="f-size">Shop Name:</strong></label> <span class="f-size">{{ bon.customer.shop }}</span><br>
                    {% endif %} -->
                    <div class="col-md-12 pull-left">

                </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <div class="">
                <table class="table table-bordered">
                    <thead>
                    <tr class="">
                        <th >Article</th>
                        <th style="width: 12%;">Prix</th>
                        <th style="width: 12%;">Qté</th>
                        <th style="width: 12%;">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% if avoir %}
                        {% for item in bon.returneditems.all %}
                        <tr>
                            <td>
                                {{ item.product.ref}} {{ item.product.category}} {{ item.product.mark}}
                            </td>
                            <td>
                                {{ item.price|floatformat:2}}
                            </td>
                            <td >
                                {{ item.qty|floatformat:-2}}
                            </td>
                            <td >
                                {{ item.total|floatformat:2 }}
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        {% for item in items %}
                        <tr>
                            <td>
                                {{ item.product.ref}} {{ item.product.category}} {{ item.product.mark}}
                            </td>
                            <td>
                                {{ item.price|floatformat:2}}
                            </td>
                            <td >
                                {{ item.quantity|floatformat:-2}}
                            </td>
                            <td >
                                {{ item.purchase_amount|floatformat:2 }}
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                        <tr >
                            <td colspan="3" class="text-end">
                                Total
                            </td>
                            <td>
                                <b id="grandTotal" style="color: red;">
                                    {{ bon.grand_total|floatformat:2 }} Dh
                                </b>
                            </td>

                        </tr>



                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- {% if not avoir %}
<div class="bg-white shadow rounded mt-5">
    <h5>
        list avoirs
    </h5>
    {% for i in avoirs %}
    N°: {{i.receipt_no}} <br>
    <table class="table table-bordered">
        <thead>
        <tr class="">
            <th >Article</th>
            <th style="width: 12%;">Prix</th>
            <th style="width: 12%;">Qté</th>
            <th style="width: 12%;">Total</th>
        </tr>
        </thead>
        <tbody>

            {% for item in i.returneditems.all %}
            <tr>
                <td>
                    {{ item.product.ref}} {{ item.product.category}} {{ item.product.mark}}
                </td>
                <td>
                    {{ item.price|floatformat:2}}
                </td>
                <td >
                    {{ item.qty|floatformat:-2}}
                </td>
                <td >
                    {{ item.total|floatformat:2 }}
                </td>
            </tr>
            {% endfor %}
            <tr >
                <td colspan="3" class="text-end">
                    Total
                </td>
                <td>
                    <b id="grandTotal" style="color: red;">
                        {{ i.grand_total|floatformat:2 }} Dh
                    </b>
                </td>
            </tr>
        </tbody>
    {% endfor %}
</div>
{% endif %} -->
