<div class="mb-3">
    <!-- <a href="{% url 'product:createavoirsupp' id=bon.id %}" class="btn btn-info">
        Avoir
    </a> -->
    <div class="bg-white rounded shadow p-2">
        <h4 class="mb-3 p-2">
            BON ENTREE N° {{bon.nbon}}
        </h4> 
        <a href="/product/updatebonachat/{{bon.id}}?facture={%if bon.isfacture%}1{%endif%}" class="btn btn-success" >Modifier</a> 
        <table class=" table table-advance table-bordered">
            <thead>
                <th>
                    Fournisseur
                </th>
                <th>
                    Date
                </th>
                <th>
                    Mantant
                </th>
                <!-- <th>
                    Rest
                </th> -->
    
            </thead>
            <tbody class="ledger-table-body">
                
            <tr>
                <td>{{bon.supplier.name}}</td>
                <td>{{bon.bondate|date:"d/m/Y"}}</td>
                <td id="grandTotal">{{bon.total}}</td>
                <!-- <td>{{bon.rest}}</td> -->
            </tr>
            
            </tbody>
        </table>
    </div>
</div>
<hr>
<!-- articles -->
<div>
    <h3>
        Articles
    </h3>
    <div>

        <table class="table table-striped table-advance table-bordered purchased-table">
            
           
            
            <div class="">
                <input type="text" class="form-control search-invoice" placeholder="Rechercher " data-catgoryid="1">
            </div>
            <thead>
            <tr>
                <th><i class="fa fa-bullhorn"></i>
                Article</th>
                <th><i class=" fa fa-bookmark"></i> 
                    Prix unit.
                </th>
                <th class=""><i class=" fa fa-bookmark"></i> 
                    Quantité
                </th>
                <th>remise</th>
                <th>total</th>
                
            </tr>
            </thead>
            <tbody class="product-table-body">
            {% for i in items %}
            <tr>
                <td>{{i.product.ref.upper}} - {{i.product.car}}</td>
                <td class="priceholder">{{i.price|floatformat:2}}</td>
                <td class="qtyholder">{{i.quantity}}</td>
                <td class="remiseholder">{{i.remise|floatformat:-2}}%</td>
                <td class="totalholder">{{i.total|floatformat:2}}</td>
                <!-- <td>
                    <button class="btn editlinebtn fa fa-edit"  data-bs-toggle="modal" data-bs-target="#updatebonlinemodal" data-itemid="{{i.item_id}}" data-remise="{{i.remise}}" data-qty="{{i.qty}}" data-price="{{i.price}}" data-article="{{i.name}}" data-total="{{i.total}}" title="modifier"></button>
                </td> -->
                
            </tr>
            {% endfor %}
            
            </tbody>
        </table>
    </div>
    
</div>

<!-- <div class="mb-3">
    <div class="bg-white rounded shadow p-2">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Avances
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body bg-white">
                    <div class="d-flex justify-content-between">
    
                        <div class="text-end">
                            <a class="btn btn-sm btn-info" href="#" data-abc="true" onclick="PrintInvoice('avances')">
                                <i class="fa fa-print mr-1"></i> Print </a>  
                        </div>
                        <button type="button" class="btn btn-success addoneproduct" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Ajouter+
                        </button>
                    </div>
                    <div id="avances">
                        <table class=" table table-advance table-hover table-bordered" >
                            
                            <tbody class="ledger-table-body">
                            <tr>
                                <th>Date</th>
                                <th>Mantant</th>
                                <th>info</th>
                                
                            </tr>
                            {% for i in avances %}  
                            <tr>
                                <td>
                                    {{i.date|date:"d/m/Y"}}
                                </td>
                                <td>
                                    {{i.avance}}
                                </td>
                                <td>
                                    {{i.details}}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
            </div>
            
            
          </div>
    </div>
</div> -->




