{% extends 'base.html' %}
{% block menu_product %}active{% endblock %}
{% block submenu_list_items %}active{% endblock %}
{% block content %}
<!-- edit command modal -->
<div class="modal fade" id="editcommandemodal" tabindex="-1" aria-labelledby="editcommandemodalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-white">
            
            <div class="modal-body">
                <form class="form-horizontal add-ledger-form addsupplierform" action="{% url 'product:updatecommande' %}" method="post" autocomplete="off">
                    <div class="form-group">
                            {% csrf_token %}
                            <select name="supplier" required class="form-select mb-3">
                                <option value="">Fournisseurs</option>
                                {% for supplier in suppliers %}
                                    <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                                {% endfor %}
                            </select>
                            <input type="hidden" name="itemid">
                            <button class="btn btn-primary">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
    </div>
</div>

<div class="content-panel table-responsive row">
    <div>
        <a class="btn btn-sm btn-info" href="#" data-abc="true" onclick="PrintInvoice('invoice')">
            <i class="fa fa-print mr-1"></i> Print 
        </a>

        <h2 class="text-center">Commande</h2>
        <div class="input-group custom-search-form col-md-4" style="left: 5px">
            <input type="text" class="form-control search-invoice" placeholder="Chercher">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <div id="invoice">
            <table class="table table-striped table-bordered table-advance table-hover item-table">
            
            
                
                
                <thead>
                <tr>
                    <th><i class="fa fa-bullhorn"></i> Article</th>
                    <!-- <th><i class=" fa fa-bookmark"></i> Unit</th> -->
                    <th><i class=" fa fa-bookmark"></i> Stock</th>
                    <th>
                        Fournisseur
                    </th>
                    <!-- <th><i class=" fa fa-edit"></i> Purchased Items</th>
                    <th><i class=" fa fa-edit"></i> Bar Code</th> -->
                    <th></th>
                </tr>
                </thead>
                <tbody class="product-table-body">
                {% for item in products %}
                    <tr>
                        <td class="product_name">
                            {% if item.command %}<i class="text-success fa fa-check-circle fa-2x"></i>{% endif %}
                            {% if item.stock == 0 %}<i class="text-danger fa fa-exclamation-circle fa-2x"></i>{% endif %} {{item.ref}} - {{ item.category}} - {{ item.car }}
                        </td>
                        <!-- <td class="#">{{ item.unit_type }}</td> -->
                        <td>{{ item.stock|floatformat:-2 }}</td>
                        <td>{{ item.supplier.name }}</td>
                        <!-- <td>{{ item.product_purchased_items|floatformat:-2 }}</td>
                        <td>{{ item.bar_code}}</td> -->
                        <td>
                            <!-- new code -->
                            <!-- <a href="{% url 'product:update_product' pk=item.id %}"><button class="btn btn-success btn-xs">Modifier</button></a> -->
                            <button class="btn fa fa-edit fa-2x editcommandebtn" type="button" class="btn btn-success" dataid={{item.id}} data-bs-toggle="modal" data-bs-target="#editcommandemodal"></button>
                            {% if item.command %}
                            <i class="fa fa-check text-success fa-2x"></i>
                            {% else %}
                            <button class="btn btn-info btn-xs commande" data-id="{{item.id}}">Commande</button>
                            {% endif %}
                            <!-- delete item is commented for now cause of the factorizaation -->
                            <!-- <button class="btn btn-danger btn-xs deleteproduct" title="Supprimer" data-id="{{item.id}}"><i class="fa fa-trash-o"></i></button> -->

                            <!-- old code 
                            <a href="{% url 'product:add_product_items' product_id=item.id %}"><button class="btn btn-primary btn-xs">الدخول</button></a>
                            <a href="{% url 'product:item_details' pk=item.id %}"><button class="btn btn-success btn-xs"><i class="fa fa-eye"></i></button></a>-->
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    
     function PrintInvoice(divName){
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        $('body').css('font-size', '12px')
        $('.head').addClass('')
        
        window.print();
        document.body.innerHTML = originalContents;
        }
    $(document).ready(()=>{
        
        // do each editcommandebtn and update the modal with the product id
        $('.editcommandebtn').each((i, el)=>{
            $(el).click(()=>{
                let id = $(el).attr('dataid')
                console.log(id)
                $('.addsupplierform input[name=itemid]').val(id)
            })
    
        }) 
    })
</script>
{% endblock %}