{% extends 'base.html' %}

 

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center main-row">
      <div class="col shadow main-col bg-white">
        <div class="row bg-primary text-white">
          <div class="col  p-2">
            <h4>Todo App</h4>
          </div>
        </div>
        <div class="row justify-content-between text-white p-2">
          <div class="form-group flex-fill mb-2">
            <input id="todo-input" type="text" class="form-control" value="">
          </div>
          <button type="button" onclick="CreateTodo();" class="btn btn-primary mb-2 ml-2">Add todo</button>
        </div>
        <div class="row" id="todo-container">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script>
    function updatecaise(event){
        var amount = $(event.target).prev().val();
        input=$(event.target).prev()
        if (amount == '' || amount == 0){
            console.log('eerrrr')
            input.addClass('border-danger');
            return;
        }
        $.get('/product/updatecaisse', {'amount': amount}, function(data){
                location.reload();
            }
        )
    }
    function checkmax(event, max){
        console.log(max)
        if(parseFloat($(event.target).val()) > parseFloat(max) || parseFloat($(event.target).val()) == 0){
            $(event.target).addClass('is-invalid');
            //$('[type="submit"]').attr('disabled', 'disabled');
        }else{
            $(event.target).removeClass('is-invalid');
            //$('[type="submit"]').removeAttr('disabled');
        }
        if ($(event.target).val() == '' || $(event.target).val() == 0){
            $('[type="submit"]').attr('disabled', 'disabled');
        }else{
            $('[type="submit"]').removeAttr('disabled');
        }
    }
</script>
{% endblock %}