{% extends 'base.html' %}

{% load static %}

{% block menu_sales %}active{% endblock %}
{% block submenu_create_bill %}active{% endblock %}
{% block content %}


<!-- add client modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-white">

            <div class="modal-body">
                <form class="form-horizontal add-ledger-form" action="{% url 'ledger:add_new_ledger' %}" method="post" autocomplete="off">
                    <div class="form-group">
                            {% csrf_token %}
                            <span class="text-danger customererror" style="display: none;">
                                املئ الخانات
                            </span>
                            <br>
                            <span class="customer-existing d-none" style="color: red;">Client exist deja</span>
                            <label>
                                <strong>Nom (*)</strong>
                            </label>
                            <span class="customer-error" style="color: red; display: none">Obligatoire</span>
                            <input type="text" class="form-control customer" name="customer_name" >
                            <br>
                            <label>
                                <strong>Phone(*)</strong>
                            </label>
                            <input type="number" class="form-control customer_phone" name="customer_phone" >
                            <strong>Address</strong>
                            <input type="text" class="form-control customer_address" name="address">

                            <label>
                                <strong>ICE</strong>
                            </label>
                            <input type="text" class="form-control customer_ice" name="ice" >
                            <br>
                            <button type="button" class="btn btn-primary w-100 addclientbtn disabled">
                                Valider
                            </button>
                        </div>
                    </div>
                </form>
        </div>

    </div>
</div>
<!-- end add client modal -->
<!-- to distinguish between invoice create and update -->
<input type="hidden" class="createinvoice">

<div class="row mb-3 position-relative">


<!-- bon articles -->
<div class="container">

    <div class="shadow rounded p-2 bg-white px-md-5">
        <h5>
            Bon Sortie #{{nbon}}
        </h5>
        <div class="alert alert-danger text-center item-error" style="display: none;" role="alert">
        </div>
        <div class="d-flex justify-content-between">
            <div class="col-md-3 mt-3 d-flex flex-column">
                <select class="form-selsect select2 customer " name="customer" id="customer">
                    <option value="0">
                        Client
                    </option>
                    {% for customer in customers %}
                        <option value="{{ customer.id }}">{{ customer.customer_name }} - {{ customer.customer_phone }}</option>
                    {% endfor %}
                </select>

                <button type="button" class="mt-2 btn btn-success addoneproduct" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    + Client
                </button>
                <div class="mt-2">
                    <small>Date bon</small>
                    <input type="date" name="datebon" placeholder="Date" value="{{present_date|date:'Y-m-d'}}" class="form-control datebon">
                </div>
            </div>

            <div class="d-none col-md-6 mb-3 productslistholder position-relative">
                <button class="btn btn-success" onclick="$('.addproductholder').removeClass('d-none')">
                    +
                </button>
                <strong>
                    Produits
                </strong> <br>
                <select name="" id="" class="productslist form-control" style="width: 100%;"></select>
                <!-- <div class="mt-3 row">
                    <div class="col-3">
                        Qty
                        <input type="number" class="addqty">
                        <div class="addstock"></div>
                    </div>
                    <div class="col-3">
                        Prix
                        <input type="number" class="addprice">
                    </div>
                    <div class="col-3">
                        Remise
                        <input type="number" class="addremise">
                    </div>
                    <div class="col-3">

                        <button class="btn btn-primary w-100">+</button>
                    </div>
                    <input type="text" class="addname" hidden>
                </div> -->
                <!-- <div class="itemsselectholder"></div>
                <input type="text" class="form-control refexeption refexeptioninp" placeholder="REF exeption">
                <select class="select2 categoryid w-100 refexeption refexeptioncategory">
                    {% for i in categories %}
                    <option value="{{i.id}}">
                        {{i.name}}
                    </option>
                    {% endfor %}
                </select>
                <div class="exeptionresults d-flex flex-column">

                </div> -->

            </div>
        </div>
        <hr>
        <div id="item-data-sc" class="table-responsive item-data-sc">
            <table class="table table-bordered">
                <thead>
                <tr class="">
                    <th style="width: 45%;">Article</th>
                    <th>Stock</th>
                    <th>Prix acht</th>
                    <th>Prix ventes</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="itemsbon">

                </tbody>
            </table>

            <div>

                <div class="borders shadow bg-white p-2 rounded">
                    <div class="table-responsive d-flex justify-content-between">
                        <table class="table table-bordered">
                            <thead>
                            <tbody>
                            <tr hidden>
                                <td></td>
                                <td></td>
                                <td class="text-right"><strong>Sub Total</strong></td>
                                <td><span id="subtotal">0.00</span></td>
                            </tr>
                            <tr hidden>
                                <td></td>
                                <td></td>
                                <td class="text-right"><strong>Discount</strong></td>
                                <td><input autocomplete="off" class="form-control" id="discount" value="0" type="text"></td>
                            </tr>
                            <tr hidden>
                                <td></td>
                                <td></td>
                                <td class="text-right"><strong>Shipping</strong></td>
                                <td><input autocomplete="off" class="form-control" id="shipping" value="0" type="text"></td>
                            </tr>
                            <tr>
                                <!-- <td><strong>Total Qty: </strong><span id="totalQty" style="color: red; font-weight: bold">0</span></td> -->

                                <td class="text-right"><h4>Total: <span id="grandTotal" style="color:red">0</span></h4> </td>
                                <td></td>
                            </tr>
                            <!-- <tr>
                                <td class="text-right">
                                    <strong>Payé</strong>
                                </td>
                                <td class="d-flex">
                                    <button class="btn btn-primary paid">
                                        Payé
                                    </button>
                                    <input autocomplete="off" class="form-control" id="paidAmount" value="0" type="number">
                            </td>
                            </tr>
                            <tr>
                                <td class="text-right"><strong>Rest</strong></td>
                                <td><span id="remainingAmount">0</span></td>
                            </tr> -->

                            </tbody>
                        </table>
                        <div class="">

                            <a id="create-invoice" href="javascript:;" title="Create Invoice" class="btn btn-primary w-100 h-100" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Processing Order">Valider</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- bon billing -->




</div>

<!-- add product -->
<div class="container position-absolute bg-white addproductholder shadow-lg d-none rounded" style="right:0; width: 60vw;top:0; height: 100vh; z-index: 99;">
    <div class="border p-3 ">
        <div class="bg-primary d-flex justify-content-between">
            <h3 class="text-center border-bottom text-white p-2">
                Ajouter un produit
            </h3>
            <button onclick="$('.addproductholder').toggleClass('d-none')">X</button>
        </div>
        <form method="post" action="{% url 'product:addoneproduct' %}" class="addoneproductform">
            {% csrf_token %}
            <div class="row">
                <div class="mb-3 col-6">
                    <div class="d-flex align-items-center justify-content-between">
                        <strong for="">Categorie (*)</strong>
                        <div class="addcategory col-4 d-none">
                            <div class="my-1">
                            <div class="input-group">
                                <input type="text" class="form-control addcategoryinput" placeholder="Category">
                                <div class="input-group-prepend">
                                <div class="input-group-text" onclick="addcategoryajax(event)">+</div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <span class="btn me-3 border" onclick="$('.addcategory').toggleClass('d-none');$('.addcategoryinput').focus()">+</span>
                        <!-- <span class="fa fa-refresh btn btn-dark me-3 border refreshmark"></span> -->
                    </div>
                    <select style="width: 100%;" class="form-select checkref select2 notempty categoryselect" name="category">
                        <option value=""></option>
                        {% for i in children %}
                        <option value="{{i.id}}">
                            {{i.name.upper}}
                        </option>
                        {% endfor %}
                    </select>

                </div>
                <div class="col-6">
                    <div class="d-flex align-items-center justify-content-between">
                      <strong>
                        Marque (*)
                      </strong>
                      <div class="addmark col-4 d-none">
                          <div class="my-1">
                            <div class="input-group">
                                <input type="text" class="form-control addmarkinput" placeholder="Marque">
                                <div class="input-group-prepend">
                                  <div class="input-group-text" onclick="addmarkajax(event)">+</div>
                                </div>
                            </div>
                          </div>
                      </div>
                        <span class="btn me-3 border" onclick="$('.addmark').toggleClass('d-none');$('.addmarkinput').focus()">+</span>
                        <!-- <span class="fa fa-refresh btn btn-dark me-3 refreshmark"></span> -->
                    </div>
                    <select style="width: 100%;" class="form-select checkref markselect select2 notempty" type="text" name="mark">
                        <option value=""></option>
                        {% for i in marks %}
                        <option value="{{i.id}}">
                            {{i.name.upper}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6
                mb-3">
                    <b class="text-center text-danger checkerror d-none">
                        Deja existé
                    </b>
                    <div>
                        <strong>
                            Ref. (*)
                        </strong>
                        <input class="form-control checkref notempty" type="text" name="ref" >
                    </div>

                </div>
                <div class="col-md-6
                mb-3">
                    <strong>
                        Designation (*)
                    </strong>
                    <input  class="form-control notempty" type="text" name="car" >
                </div>
            </div>
            <!-- <div class="mb-3">
                <strong>
                    Article
                </strong>
                <input class="form-control" required type="text" name="name" >
            </div> -->




        <input type="hidden" name="dest" value="receive">
        <button type="submit" class="btn btn-primary addoneproductbtn" disabled onclick="addoneproduct(event)">Ajouter</button>

        </form>

    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/jquery.invoice.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.scannerdetection.js' %}"></script>
    <script>

        $('.checkref').on('change', ()=>{
            if ($('[name="ref"]').val()!='' && $('[name="mark"]').val()!='' && $('[name="pcategory"]').val()!=''){
                console.log('checking')
                $.post('/product/checkref/', {
                    'ref': $('[name="ref"]').val().toLowerCase(),
                    'mark': $('[name="mark"]').val().toLowerCase(), 'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val(),
                    'categoryid':$('[name="pcategory"]').val()
            }, (data)=>{
                    if (data.status){
                        $('.checkerror').removeClass('d-none').addClass('d-flex')
                        $('.addoneproductbtn').attr('disabled', true)
                    }
                    else{
                        $('.checkerror').removeClass('d-flex').addClass('d-none')
                        $('.addoneproductbtn').attr('disabled', false)
                    }
                })

            }else{
                console.log('empty')
            }
        })
        function removeline(event, productid){
            console.log('deletting;;;', productid)
            $(event.target).closest('tr').remove();
            bonitems=JSON.parse(localStorage.getItem('bonitems'))
            idsinbon=JSON.parse(localStorage.getItem('pdctsinbonsortie'))
            dx=idsinbon.indexOf(productid)
            idsinbon.splice(dx, 1)
            bonitems.splice(dx, 1)
            console.log(dx, idsinbon, bonitems)
            localStorage.setItem('bonitems', JSON.stringify(bonitems))
            localStorage.setItem('pdctsinbonsortie', JSON.stringify(idsinbon))
        }
        function saverow(event){
            tr=$(event.target).parent().parent()
            article=tr.find('.item-name').text()
            stock=tr.find('.stock').text()
            prachat=tr.find('.prachat').text()
            prnet=tr.find('.prnet').val()
            price=tr.find('.price').val()?tr.find('.price').val():0
            qty=tr.find('.qty').val()?tr.find('.qty').val():0
            productid=tr.find('.productid').val()
            bonitems=JSON.parse(localStorage.getItem('bonitems')) || []
            idsinbon=JSON.parse(localStorage.getItem('pdctsinbonsortie'))
            // get index of id
            if (idsinbon){
                dx=idsinbon.indexOf(productid)
                console.log(dx)
            }
            row={
                'article':article,
                'stock':stock,
                'prnet':prnet,
                'prachat':prachat,
                'price':price,
                'qty':qty,
                'productid':productid
            }
            if (bonitems.length > 0){
                bonitems[dx]=row
                // insert it in index to remain the same order, order is important here
                localStorage.setItem('bonitems',JSON.stringify(bonitems))
            }else{
                bonitems.push(row)
                localStorage.setItem('bonitems',JSON.stringify(bonitems))

            }
        }
        $('[name="customer"]').on('change', function(){
            console.log($(this).val())
            if ($(this).val()=='0'){
                $('.productslistholder').addClass('d-none')
            }
            else{
                $('.productslistholder').removeClass('d-none')
                // we store olse client id to display it when loading from localstorage
                localStorage.setItem('clientbon', $(this).val())
            }
        })
        // track bons in products
        // localStorage.setItem('pdctsinbonsortie', '[]')
        // localStorage.setItem('pdctsdetails', '[]')
        $(function(){
            $('.productslist').select2({
                minimumInputLength: 1,
                placeholder:'Chercher',
                ajax: {
                type:'get',
                dataType: 'json',
                url: '/product/searchproduct',
                data: function (params) {
                    var query = {
                    term: params.term,
                    }
                    // Query parameters will be ?search=[term]&type=public
                    return query;
                },
                proccessresults: function (data) {
                    return {
                        results:data.results
                    }
                },
                cache:true
                }
            });
        })
        // set products in local storage
        // remove prdcts localstorage when valider
        $('.productslist').on('change', function(){
          pdcts=JSON.parse(localStorage.getItem('pdctsinbonsortie'))||[]
          bonitems=JSON.parse(localStorage.getItem('bonitems'))||[]
          console.log(pdcts)
          parentdiv=$(this).parent().parent()
          if ($(this).val()==''){
              return
          }
          var [ref, car, pr_achat, stock, id, remise, prnet] = $(this).val().split('§');
          if (pdcts.includes(id)){
            alertify.error('Deja')
            return
          }
          row={
                'article':ref+' - '+car,
                'stock':stock,
                'prnet':prnet,
                'prachat':pr_achat,
                'price':pr_achat,
                'qty':0,
                'productid':id
            }
          if (pdcts.includes(id)){
            dx=pdcts.indexOf(id)

            // get index of id


            bonitems[dx].qty=parseInt(bonitems[dx].qty)+1
            // insert it in index to remain the same order, order is important here
            localStorage.setItem('bonitems',JSON.stringify(bonitems))

            let qtyinput=$(`#itemrow${id}`).find('.qty')
            let total=$(`#itemrow${id}`).find('.total')
            let price=$(`#itemrow${id}`).find('.price').val()
            newqty=parseInt(qtyinput.val())+1
            qtyinput.val(newqty)
            total.text(newqty*price)
            $(`#itemrow${id}`).css('background', 'greenyellow')
            setTimeout(() => {
                $(`#itemrow${id}`).css('background', 'none')
            }, 1000);
            return
          }
          pdcts.push(id)
          localStorage.setItem('pdctsinbonsortie', JSON.stringify(pdcts))
          // add it to items localstorage
          console.log(bonitems)
          bonitems.push(row)
          localStorage.setItem('bonitems',JSON.stringify(bonitems))

            $('.itemsbon').prepend(`<tr class="item-row" id="itemrow${id}""><td id="item-name" class="item-name"><strong class="invoice-item" id="invoice-item">${ref} - ${car}</strong></td><td class="stock ${stock==0 ? "bg-danger text-white" : ""}">${stock}</td><td class="prachat">${pr_achat}</td><td><input type="hidden" class="prnet" value=${prnet}><input min=${prnet} value=${pr_achat} class="form-control price" placeholder="Price" type="number" oninput="saverow(event)"><br><span class="text-danger errorprice d-none bg-white">Prix de vent doit etre superieur ou egal a prix net: ${prnet}</span> </td><td><input class="form-control qty" placeholder="Quantity" type="number" min=1 value=0 oninput="saverow(event)"></td><td class="total"></td><input type="hidden" class="productid" value=${id}><td><i class="btn btn-danger delete" title="Supprimer" productid="${id}" onclick="removeline(event, '${id}')"></i></td></tr>`);

                jQuery().invoice().init
        //   let repswithprice=[]
        //   let addname=$('input[name="addname"]')
        //   let addprice=$('input[name="addprice"]')
        //   let addremise=$('input[name="addremise"]')
        //   let addqty=$('input[name="addqty"]')
        //   console.log('qty of change',addqty)
        //   $('.addstock').text(stock)
        //   addqty.val('')
        //   addremise.val(remise)
        //   addname.val(`${ref} - ${name}`).attr('data', `${ref},${car},${pr_achat},${stock},${id},${remise},${prnet}`)



        //   let selected = $(this).find(':selected')
          // selected.remove()
          // delect selected option
      })

        $(window).on('click', function (e) {
            if (e.target.classList.contains('addexeptionbtn')) {
                el=$(e.target)
                el.removeClass('fa-plus').addClass('fa-check')
                item=el.attr('item')
                id=el.attr('id')
                stock=el.attr('stock')
                prachat=el.attr('prachat')
                price=el.attr('price')
                prnet=el.attr('prnet')
                $('.itemsbon').append(`<tr class="item-row "><td id="item-name" class="item-name"><strong class="invoice-item" id="invoice-item">${item}</strong></td><td class="stock ${stock==0 ? "bg-danger text-white" : ""}">${stock}</td><td class="prachat">${prachat}</td><td><input min=${prnet} value=${prachat} class="form-control price" placeholder="Price" type="number"><br><span class="text-danger errorprice d-none bg-white">Prix de vent doit etre superieur ou egal a prix net: ${prnet}</span> </td><td><input class="form-control qty" placeholder="Quantity" type="number" min=1 value="0"></td><td><span class="total">0</span></td><input type="hidden" class="productid" value=${id}><td><i class="btn btn-danger delete" title="Supprimer">X</i></td></tr>`);
                $('.delete').on('click', function () {
                    $(this).closest('tr').remove();
                });
                jQuery().invoice().init
            }
        })
        $('.refexeption').on('change', function(){
            console.log('ref exeption')
            let ref=$('.refexeptioninp').val()
            if (ref!=''){
                $.ajax({
                    url:'{% url "product:refexeption" %}',
                    type:'POST',
                    data:{
                        'ref':ref,
                        'type':'inv',
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'categoryid':$('.refexeptioncategory').val()
                    },
                    success:(data)=>{
                        $('.exeptionresults').html(data.data)
                    }
                })
            }
        })
    // $('.loading').removeClass('d-none').addClass('d-flex');
    $('.customer_phone').on('input', function(){
        if ($(this).val().length == 10){
            $.post("{% url 'product:checkclient' %}",
                {
                    'phone':$('.customer_phone').val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                (data)=>{
                    if (data.exist){
                        $('.customer-existing').removeClass('d-none')
                        $('.addclientbtn').addClass('disabled')
                    }
                    else{
                        $('.customer-existing').addClass('d-none')
                        $('.addclientbtn').removeClass('disabled')
                    }
                }
            )
            return
        }
        $('.addclientbtn').addClass('disabled')
    })
    $(document).ready(function () {

        bonitems=JSON.parse(localStorage.getItem('bonitems'))||[]
        if (bonitems.length>0){
            $('[name="customer"]').select2().val(localStorage.getItem('clientbon')).trigger('change')
            for (i of bonitems){
                $('.itemsbon').append(`<tr class="item-row" id="itemrow${i.productid}""><td id="item-name" class="item-name"><strong class="invoice-item" id="invoice-item">${i.article}</strong></td><td class="stock ${i.stock==0 ? "bg-danger text-white" : ""}">${i.stock}</td><td class="prachat">${i.prachat}</td><td><input type="hidden" class="prnet" value=${i.prnet}><input min=${i.prnet} value=${i.price} class="form-control price" placeholder="Price" type="number" oninput="saverow(event)"><br><span class="text-danger errorprice d-none bg-white">Prix de vent doit etre superieur ou egal a prix net: ${i.prnet}</span> </td><td><input class="form-control qty" placeholder="Quantity" type="number" min=1 value="${i.qty}" oninput="saverow(event)"></td><td class="total">${i.qty*i.price}</td><input type="hidden" class="productid" value=${i.productid}><td><i class="btn btn-danger delete" title="Supprimer" productid="${i.productid}" onclick="removeline(event, '${i.productid}')"></i></td></tr>`);

                jQuery().invoice().init
            }
        }
        function showerror(m){
            $('.item-error').show().text(m)
        }
        // add client
        // telephone obligatoir (avoid duolicate)
        $('.addclientbtn').on('click', ()=>{
            if($('.customer').val() == '' || $('.customer_phone').val()=='' || $('.customer_phone').val().length!=10){
                console.log('error')
                $('.customererror').show();
                return false;
            }else{

                $('.addclientbtn').addClass('disabled')
                $.post(
                    '{% url "product:addclient" %}',
                    {
                        'name':$('.customer').val(),
                        'phone':$('.customer_phone').val(),
                        'ice':$('.customer_ice').val(),
                        'address':$('.customer_address').val(),
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    function(data){
                        alertify.success('OK')
                        // populate select2
                        option=`<option value="${data.id}">${$('.customer').val()} - ${$('.customer_phone').val()}</option>`
                        $('[name="customer"]').append(option)
                        //hide modal
                        $('#exampleModal').modal('hide')
                    }
                )
            }
        })

        // var item_list = '<select id="all-items" class="form-select select2"><option value="0">Articles</option>';
        // // create select from pdct, its a registered
        // $.get('/sales/product/items/details/', function (data, status) {
        //     $.each(data.products, function(key, result){
        //         item_list += '<option data-price="' + result.consumer_price + '" data-stock= "' + result.stock +'" data-prachat="'+result.pr_achat+'"data-id= "' + result.id +'">' +result.ref+' - '+ result.category+' - '+ result.mark+'</option>'
        //     });
        //     item_list += '</select>';



        //     $('.itemsselectholder').append(item_list);
        //     $('.select2').select2();
        //     $('.loading').removeClass('d-flex').addClass('d-none');

        // });




        $('.paid').on('click', ()=>{
            let total=$('#grandTotal').text()
            // assign total to received
            $('#paidAmount').val(total)
        })

        $(function () {





            $('#create-invoice').live('click', function () {
                const allErrorDivsHaveDNone = $('.errorprice').toArray().every(function(div) {
                    return $(div).hasClass('d-none');
                });
                if (!allErrorDivsHaveDNone) {
                    showerror('Prix de vent doit etre superieur ou egal a prix net');
                    return;
                }
                if ($('#item-name').hasClass('item-name') == false || $('select[name="customer"]').val()==0 || $('.datebon').val()=="") {
                    showerror('Remplir les champs');
                    return;
                }

                if (($.inArray(true, $('.price').map((t, i)=>$(i).val()=="")) !== -1)||($.inArray(true, $('.qty').map((t, i)=>$(i).val()=="")) !== -1) || ($.inArray(true, $('.price').map((t, i)=>$(i).val()==0)) !== -1)||($.inArray(true, $('.qty').map((t, i)=>$(i).val()==0)) !== -1)) {

                    showerror('املئ خانة الثمن');
                    $('.price').css('border-color', 'red');
                    $('.qty').css('border-color', 'red');
                    return
                }
                else {
                    $('.item-error').hide();
                    $('.price').css('border', 'none');
                }
                var customer_name = $('.customer_name').val();
                var customer_phone = $('.customer_phone').val();
                var items = [];
                var total_quantity = 0;
                for (var i=0; i<$('.item-row').length; i++) {
                    var products = {};
                    products['item_id'] = $($('.item-row')[i]).find('.productid').val();
                    products['price'] = $($('.item-row')[i]).find('.price').val();
                    products['prachat'] = parseFloat($($('.item-row')[i]).find('.prachat').text());
                    products['qty'] = $($('.item-row')[i]).find('.qty').val();
                    products['total'] = $($('.item-row')[i]).find('.total').text();

                    items.push(products);
                    total_quantity += Number(products['qty']);
                }
                var sub_total = $('#subtotal').text();
                var discount = $('#discount').val();
                var shipping = $('#shipping').val();
                var grand_total = $('#grandTotal').text();
                var remaining_amount = $('#remainingAmount').text();
                var paid_amount = $('#paidAmount').val();
                var cash_payment = $('#cash_payment').val();
                var returned_cash = $('#returned_cash').text();
                var totalQty = total_quantity;
                var datebon=$('[name="datebon"]').val()
                var customer_value = $('.customer').val();
                var customer_id = $('select[name="customer"]').val();

                const itemIds = items.map(item => item.item_id);
                const uniqueItemIds = Array.from(new Set(itemIds));
                console.log(items)
                if (itemIds.length > uniqueItemIds.length) {
                alert("منتوجات متكررة");
                } else {
                $('#create-invoice').addClass('disabled')
                console.log("sending");
                $.post("{% url 'sales:generate_invoice_api' %}", {
                        datebon:datebon,
                        customer_id: customer_id,
                        sub_total: sub_total,
                        discount: discount,
                        shipping: shipping,
                        grand_total: grand_total,
                        totalQty: totalQty,
                        remaining_amount: remaining_amount,
                        //paid_amount: paid_amount, changed to total to avoide ceances
                        paid_amount: grand_total,
                        cash_payment: cash_payment,
                        returned_cash: returned_cash,
                        items: JSON.stringify(items)
                    }, function (result, status) {
                        localStorage.removeItem('bonitems')
                        localStorage.removeItem('pdctsinbonsortie')
                        localStorage.removeItem('clientbon')
                        //window.location.href = `/ledger/customer/${$('select[name="customer"]').val()}/ledger/details/`;
                        // refresh
                        location.reload();
                    }
                ).fail(function (xhr, status, errors) {
                    alert('خطأ في البيانات المدخلة، يرجى التأكد من صحة البيانات والمحاولة مرة أخرى');
                });
                }
            });

            $('.new-customer').on('click', function () {
                $('.existing-customer').hide();
                $('.new-customer-form').show();
                $('.customer').val('');
            });

            $('.added-customer').on('click', function () {
                $('.existing-customer').show();
                $('.new-customer-form').hide();
                $('.customer_name').val('');
                $('.customer_phone').val('');
            });

        });
        $('.btn-primary').on('click', function () {
            $('.item-error').hide();
        });
    });
    </script>
    <script>
        $('#create-invoice').on('click', function() {
            var $this = $(this);
            $this.button('loading');
            setTimeout(function() {
                $this.button('reset');
            }, 1000);
        });

        // $('.form-control').click (function () {
        //     $('.list-error').hide();
        //     checkDec(this);

        // });

        // function checkDec(el){
        //     var ex = /^[0-9]+\.?[0-9]*$/;
        //     if(ex.test(el.value)==false){
        //         el.value = el.value.substring(0,el.value.length - 1);
        //     }
        // }
    </script>
<!-- <script>
$('#invoice').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 5000);
});

    </script> -->
{% endblock %}
