{% if not k.children.all %}
<li class="pure-tree_link">
    
    <a href="#" class="categoriesbtn  d-flex justify-content-between" data-catgoryid="{{k.id}}">
        <b>
            {{k.name}}
        </b>
        <button class=" btn-xs btn updatecategorybtn {% if k.id in ids %} text-danger fa fa-exclamation-circle showthis{%else%}fa fa-edit{%endif%}" child="{{k.name}}" id="{{k.id}}" parent="{{k.parent}}" data-bs-toggle="modal" data-bs-target="#updatecategorymodal"></button>
    </a>
    
</li>
{% else %}
<li>
<input type="checkbox" id="trigger-layout{{k.id}}">
<label for="trigger-layout{{k.id}}">{{k.name}} </label>
<ul class="pure-tree">
    {% for k in k.children.all %}
    {% include 'nested.html' %}
    {% endfor %}
</ul>
</li>
{% endif %}